
.modal-header {
    border-bottom: none;
}
.modal-body label {
    font-weight: bold;
}
.form-control, select {
    background: rgba(255, 255, 255, 0.1);
    color: black;
    border: none;
}
.form-control:focus, select:focus {
    /* background: rgba(255, 255, 255, 0.2); */
    box-shadow: none;
}

.close-btn {
    font-size: 30px;
    cursor: pointer;
}
.item-group {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 10px;
}